{% for card in object_list %}
  <div class="portlet card" id="{{card.pk}}"
  cardstatus="{{card.status}}" order={{card.order}}>
    <div class="portlet-header">
      {{card | upper }}
      {% if card.priority == '3' %}
        <i class="fas fa-fire-alt"></i>
      {% elif card.priority == '2' %}
        <i class="fas fa-arrows-alt-h"></i>
      {% else %}
        <i class="far fa-snowflake"></i>
      {% endif %}

    </div>
    <div class="portlet-content">{{card.description}}</div>
      {% if card.cardtask_set.all %}
        <!-- <div class="input-group mb-3"> -->
        {% for t in card.cardtask_set.all %}
          <div class="task-list" onclick="taskStatusUpdate(this)">
            <input type="checkbox" id="task_{{t.id}}" {% if t.done %} checked {% endif %}/>
            <label for="task_{{t.id}}" {% if t.done %} style="text-decoration:line-through;" {% endif %}>{{ t }}</label>
          </div>
        {% endfor %}
        <!-- </div> -->
      {% endif %}
    <div class="portlet-footer">
      <i class="{{card.geticon}}" style="color:#{{card.getcolor}};"></i>
      <a href="#" class="card-edit-form" data-id="{% url 'update-card' card.id %}">
        <i class="fas fa-pen" style="float: right;"></i>
      </a>

    </div>
  </div>
{% endfor %}
