{% extends "base.html" %}

  {% block content %}
    <br>

    {% csrf_token %}
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
      </div>
    </div>

    <div class="jumbotron">
      <table class="typelist">
        {% for t in cardtypes %}
          <tr>
            <td><i class="{{ t.icon }}" style="color:#{{t.color}};"></i></td>
            <td><div class="type_name">{{t}}</div></td>
            <td><div class="card_count">{{t.cardcount}} cards</div></td>
            <td><a class="card-type-edit-form" data-id="{% url 'update-type' t.id %}"><i class="fas fa-pen"></i>edit</a></td>
          </tr>
        {% endfor %}
      </table>
      <br>
      <a href="#" class="card-type-form btn btn-light">Add new card type</a>
    </div>

<script type="text/javascript">
var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

// edit card modal form
$(".card-type-edit-form").each(function() {
  $(this).modalForm({
    formURL: $(this).data("id")
  })
});

// create new card modal form call
$(".card-type-form").modalForm({
  formURL: "{% url 'create-type'%}"
});

</script>

  {% endblock %}
