{% load widget_tweaks %}
{% load static %}

<form action="" method="post">
  {% csrf_token %}
  <div class="modal-header">
    <h5 class="modal-title"  >
      {{ form.title|attr:"placeholder:Add task title here..."|attr:"onchange:updateTitle(this.value)"|attr:"id:title_head"}}
    </h5>
    <i class="fas fa-window-close" data-dismiss="modal" aria-label="Close"></i>
  </div>

  <div class="modal-body">
    {% for field in form %}
      <div class="form-group{% if field.errors %} invalid {% endif %}" {% if field is form.title or field is form.type or field is form.priority %} hidden {% endif %}>

        {{ field.label_tag }}
        {{ field }}

        {% for error in field.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    {% endfor %}

    <div class="form-group custom-selector">
      <label for="dropdownMenuPriority">Priority: </label>
      <button type="button" class="btn btn-light dropdown-toggle" id="dropdownMenuPriority" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
        <i class="fas fa-arrows-alt-h"> Medium</i>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
          <a class="dropdown-item" href="#" value="3" onclick="setPriority(this);"><i class="fas fa-fire-alt"> High</i></a>
          <a class="dropdown-item" href="#" value="2" onclick="setPriority(this);" selected><i class="fas fa-arrows-alt-h"> Medium</i></a>
          <a class="dropdown-item" href="#" value="1" onclick="setPriority(this);"><i class="fas fa-snowflake"> Low</i></a>
        </div>
    </div>

    <div class="myclass">


      <div class="form-group custom-selector">
        <label for="dropdownMenuType">Type: </label>
        <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" id="dropdownMenuType" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
          <span> -------- </span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          {% for type in types %}
            <a class="dropdown-item" href="#" value="{{type.pk}}" onclick="setType(this);">
              <i class="{{type.icon}}" style="color:#{{type.color}};"> {{type}}</i>
            </a>
          {% endfor %}
        </div>
      </div>

    </div>

    </div>


  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
    <button type="button" class="submit-btn btn btn-success" id="card-submit">Submit</button>

  </div>
</form>

<script src="{% static 'js/cards/card_form.js' %}"></script>
