{% load widget_tweaks %}

<form action="" method="post">
  {% csrf_token %}
  <div class="modal-header">
    <h5 class="modal-title">Add Card Type</h5>
    <i class="fas fa-window-close" data-dismiss="modal" aria-label="Close"></i>
  </div>

  <div class="modal-body">
    {% for field in form %}
      <div class="form-group{% if field.errors %} invalid {% endif %}">

          {{ field.label_tag }}
          {{ field }}
          {% if field.help_text %}{{field.help_text}}{% endif %}

        {% for error in field.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    {% endfor %}
    <div class="form-group">
      <label for="color-picker">Color: </label>
      <input type="color" id="color-picker" onchange="updatecolor(this.value)" value="#ffffff">
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
    <button type="button" class="submit-btn btn btn-success">Create</button>

  </div>
</form>

<script type="text/javascript">
function updatecolor(val) {
  var c = $("#id_color")[0]
  c.value = val.slice(1,7)
}
document.getElementById("id_color").parentElement.setAttribute("hidden", "true");

</script>
